In [2]:
import json

def extraer_categorias_y_generos(json_file):
    # Abrimos y cargamos el archivo JSON
    with open(json_file, 'r', encoding='utf-8') as file:
        datos = json.load(file)

    # Conjuntos para almacenar categorías y géneros únicos
    categorias = set()
    generos = set()

    # Procesamos cada objeto en el archivo JSON
    for entrada in datos:
        categorias.add(entrada['categoria'])  # Extraemos la categoría
        generos.update(entrada['genero'].split(', '))  # Dividimos los géneros por coma y espacio

    # Devolvemos listas de categorías y géneros únicos
    return list(categorias), list(generos)

def generar_inserts_categorias_generos(categorias, generos):
    consultas_categoria = []
    consultas_genero = []

    # Generamos las consultas INSERT para la tabla Categoria
    for idx, categoria in enumerate(categorias, start=1):
        categoria = categoria.replace("'", "''")  # Escapamos comillas
        consultas_categoria.append(f"INSERT INTO Categoria (id, nombre) VALUES ({idx}, '{categoria}');")

    # Generamos las consultas INSERT para la tabla Genero
    for idx, genero in enumerate(generos, start=1):
        genero = genero.replace("'", "''")  # Escapamos comillas
        #print(f'"{genero}":{idx},')
        consultas_genero.append(f"INSERT INTO Genero (id, nombre) VALUES ({idx}, '{genero}');")
    # Devolvemos ambas listas de consultas
    return consultas_categoria, consultas_genero

# Uso del script
json_file = 'trailerflix.json'  # Nombre del archivo JSON

# Extraemos las categorías y géneros únicos
categorias, generos = extraer_categorias_y_generos(json_file)

# Generamos las consultas INSERT para categorías y géneros
consultas_categoria, consultas_genero = generar_inserts_categorias_generos(categorias, generos)

# Imprimimos las consultas generadas para las tablas Categoria y Genero
print("Consultas para la tabla Categoria:")
for consulta in consultas_categoria:
    print(consulta)

print("\nConsultas para la tabla Genero:")
for consulta in consultas_genero:
    print(consulta)

Consultas para la tabla Categoria:
INSERT INTO Categoria (id, nombre) VALUES (1, 'Serie');
INSERT INTO Categoria (id, nombre) VALUES (2, 'Película');

Consultas para la tabla Genero:
INSERT INTO Genero (id, nombre) VALUES (1, 'Romance');
INSERT INTO Genero (id, nombre) VALUES (2, 'Música');
INSERT INTO Genero (id, nombre) VALUES (3, 'Sci-Fi');
INSERT INTO Genero (id, nombre) VALUES (4, 'Sucesos');
INSERT INTO Genero (id, nombre) VALUES (5, 'Ciencia Ficción');
INSERT INTO Genero (id, nombre) VALUES (6, 'Suspenso');
INSERT INTO Genero (id, nombre) VALUES (7, 'Futurista');
INSERT INTO Genero (id, nombre) VALUES (8, 'Ciencia ficción');
INSERT INTO Genero (id, nombre) VALUES (9, 'Musical');
INSERT INTO Genero (id, nombre) VALUES (10, '¿Ficción?');
INSERT INTO Genero (id, nombre) VALUES (11, 'Acción');
INSERT INTO Genero (id, nombre) VALUES (12, 'Terror');
INSERT INTO Genero (id, nombre) VALUES (13, 'Familia');
INSERT INTO Genero (id, nombre) VALUES (14, 'Tecnología');
INSERT INTO Genero (id, nombre) VALUES (15, 'Aventura');
INSERT INTO Genero (id, nombre) VALUES (16, 'Suceso Real');
INSERT INTO Genero (id, nombre) VALUES (17, 'Comedia');
INSERT INTO Genero (id, nombre) VALUES (18, 'Fantasía');
INSERT INTO Genero (id, nombre) VALUES (19, 'Animación');
INSERT INTO Genero (id, nombre) VALUES (20, 'Historia');
INSERT INTO Genero (id, nombre) VALUES (21, 'Ficción');
INSERT INTO Genero (id, nombre) VALUES (22, 'Intriga');
INSERT INTO Genero (id, nombre) VALUES (23, 'Misterio');
INSERT INTO Genero (id, nombre) VALUES (24, 'Western');
INSERT INTO Genero (id, nombre) VALUES (25, 'Crimen');
INSERT INTO Genero (id, nombre) VALUES (26, 'Drama');

In [6]:

# Mapeos de categoría y género a sus respectivos IDs
categoria_map = {
    "Serie": 1,  # ID de la categoría 'Serie' en la tabla Categoria
    "Película": 2  # Ejemplo de otra categoría
}

genero_map = {
    "Música":1,
    "Familia":2,
    "Romance":3,
    "Drama":4,
    "Sci-Fi":5,
    "Sucesos":6,
    "Crimen":7,
    "Tecnología":8,
    "Suceso Real":9,
    "Acción":10,
    "Ficción":11,
    "Terror":12,
    "¿Ficción?":13,
    "Ciencia Ficción":14,
    "Suspenso":15,
    "Fantasía":16,
    "Aventura":17,
    "Comedia":18,
    "Historia":19,
    "Ciencia ficción":20,
    "Intriga":21,
    "Musical":22,
    "Misterio":23,
    "Animación":24,
    "Western":25,
    "Futurista":26
}

def generar_inserts_json(json_file, table_name):
    # Abrimos y cargamos el archivo JSON
    with open(json_file, 'r', encoding='utf-8') as file:
        datos = json.load(file)

    # Excluimos 'categoria' y 'genero', e incluimos 'categoria_id'
    columnas_excluidas = {'categoria', 'genero', 'gen','reparto','busqueda'}
    columnas = [col for col in datos[0].keys() if col not in columnas_excluidas]
    columnas.append('categoria_id')  # Añadimos la clave foránea de categoría

    # Lista para almacenar las consultas INSERT generadas para contenido
    consultas_insert_contenido = []

    # Procesamos cada objeto en el archivo JSON
    for entrada in datos:
        valores = []
        # Iteramos sobre las columnas para construir los valores
        for col in columnas:
            if col == 'categoria_id':
                # Usamos el mapeo para obtener el categoria_id
                categoria_id = categoria_map.get(entrada['categoria'], 'NULL')
                valores.append(str(categoria_id))
            else:
                valor = entrada[col]
                if isinstance(valor, str):
                    # Escapamos las comillas simples en los valores de tipo string
                    valor = valor.replace("'", "''")
                    valores.append(f"'{valor}'")
                else:
                    valores.append(str(valor))

        # Creamos la consulta INSERT para la tabla contenido
        insert_query_contenido = f"INSERT INTO {table_name} ({', '.join(columnas)}) VALUES ({', '.join(valores)});"

        # Añadimos la consulta a la lista
        consultas_insert_contenido.append(insert_query_contenido)

    # Generamos las consultas INSERT para la tabla de unión contenido_genero
    consultas_insert_genero = []
    for entrada in datos:
        # Obtenemos el contenido_id (puede que sea el último insertado o a partir del JSON si tiene un id)
        contenido_id = entrada['id']  # O usa el id autoincremental si lo has manejado en otro lado
        genero_ids = [genero_map.get(g.strip(), 'NULL') for g in entrada['genero'].split(', ')]

        for genero_id in genero_ids:
            if genero_id != 'NULL':
                consultas_insert_genero.append(f"INSERT INTO contenido_generos (contenido_id, genero_id) VALUES ({contenido_id}, {genero_id});")

    # Devolvemos ambas listas de consultas
    return consultas_insert_contenido, consultas_insert_genero

In [7]:
import json

# Función para generar consultas INSERT para actores y contenido_actores
def generar_inserts_actores(json_file):
    # Abrimos y cargamos el archivo JSON
    with open(json_file, 'r', encoding='utf-8') as file:
        datos = json.load(file)

    # Diccionario para almacenar los actores únicos
    actores_unicos = {}
    # Lista para almacenar las consultas INSERT para actores
    consultas_insert_actores = []
    # Lista para almacenar las consultas INSERT para la tabla intermedia contenido_actores
    consultas_insert_contenido_actores = []
    
    actor_id_counter = 1  # Contador manual para asignar ID a los actores (suponiendo que no existe en la BD)
    
    # Procesamos cada entrada en el JSON
    for entrada in datos:
        contenido_id = entrada['id']
        actores = [actor.strip() for actor in entrada['reparto'].split(',')]
        
        for actor in actores:
            if actor not in actores_unicos:
                # Asignamos un nuevo ID al actor y lo guardamos en actores_unicos
                actores_unicos[actor] = actor_id_counter
                # Escapamos las comillas simples correctamente en los nombres de los actores
                actor_escaped = actor.replace("'", "''")
                insert_query_actor = f"INSERT INTO actores (id, nombre) VALUES ({actor_id_counter}, '{actor_escaped}');"
                consultas_insert_actores.append(insert_query_actor)
                actor_id_counter += 1
            
            # Creamos la consulta para insertar la relación en contenido_actores
            actor_id = actores_unicos[actor]
            insert_query_contenido_actores = f"INSERT INTO contenido_actores (contenido_id, actor_id) VALUES ({contenido_id}, {actor_id});"
            consultas_insert_contenido_actores.append(insert_query_contenido_actores)
    
    # Devolvemos todas las consultas generadas
    return consultas_insert_actores, consultas_insert_contenido_actores

# Uso del script
json_file = 'trailerflix.json'  # Nombre del archivo JSON

# Generamos las consultas INSERT
consultas_actores, consultas_contenido_actores = generar_inserts_actores(json_file)

# Imprimimos las consultas generadas para actores
print("Consultas para la tabla actores:")
for consulta in consultas_actores:
    print(consulta)

# Imprimimos las consultas generadas para contenido_actores
print("\nConsultas para la tabla contenido_actores:")
for consulta in consultas_contenido_actores:
    print(consulta)

Consultas para la tabla actores:
INSERT INTO actores (id, nombre) VALUES (1, 'Pedro Pascal');
INSERT INTO actores (id, nombre) VALUES (2, 'Carl Weathers');
INSERT INTO actores (id, nombre) VALUES (3, 'Misty Rosas');
INSERT INTO actores (id, nombre) VALUES (4, 'Chris Bartlett');
INSERT INTO actores (id, nombre) VALUES (5, 'Rio Hackford');
INSERT INTO actores (id, nombre) VALUES (6, 'Giancarlo Esposito');
INSERT INTO actores (id, nombre) VALUES (7, 'Tom Hopper');
INSERT INTO actores (id, nombre) VALUES (8, 'David Castañeda');
INSERT INTO actores (id, nombre) VALUES (9, 'Emmy Raver-Lampman');
INSERT INTO actores (id, nombre) VALUES (10, 'Robert Sheehan');
INSERT INTO actores (id, nombre) VALUES (11, 'Aidan Gallagher');
INSERT INTO actores (id, nombre) VALUES (12, 'Elliot Page');
INSERT INTO actores (id, nombre) VALUES (13, 'Anya Taylor-Joy');
INSERT INTO actores (id, nombre) VALUES (14, 'Thomas Brodie-Sangster');
INSERT INTO actores (id, nombre) VALUES (15, 'Harry Melling');
INSERT INTO actores (id, nombre) VALUES (16, 'Moses Ingram');
INSERT INTO actores (id, nombre) VALUES (17, 'Chloe Pirrie');
INSERT INTO actores (id, nombre) VALUES (18, 'Janina Elkin');
INSERT INTO actores (id, nombre) VALUES (19, 'Lili Reinhart');
INSERT INTO actores (id, nombre) VALUES (20, 'Casey Cott');
INSERT INTO actores (id, nombre) VALUES (21, 'Camila Mendes');
INSERT INTO actores (id, nombre) VALUES (22, 'Marisol Nichols');
INSERT INTO actores (id, nombre) VALUES (23, 'Madelaine Petsch');
INSERT INTO actores (id, nombre) VALUES (24, 'Mädchen Amick');
INSERT INTO actores (id, nombre) VALUES (25, 'Claire Fox');
INSERT INTO actores (id, nombre) VALUES (26, 'Olivia Colman');
INSERT INTO actores (id, nombre) VALUES (27, 'Matt Smith');
INSERT INTO actores (id, nombre) VALUES (28, 'Tobias Menzies');
INSERT INTO actores (id, nombre) VALUES (29, 'Vanesa Kirby');
INSERT INTO actores (id, nombre) VALUES (30, 'Helena Bonham Carter');
INSERT INTO actores (id, nombre) VALUES (31, 'Millie Bobby Brown');
INSERT INTO actores (id, nombre) VALUES (32, 'Henry Cavill');
INSERT INTO actores (id, nombre) VALUES (33, 'Sam Claflin');
INSERT INTO actores (id, nombre) VALUES (34, 'Louis Partridge');
INSERT INTO actores (id, nombre) VALUES (35, 'Adeel Akhtar');
INSERT INTO actores (id, nombre) VALUES (36, 'Joaquin Phoenix');
INSERT INTO actores (id, nombre) VALUES (37, 'Robert De Niro');
INSERT INTO actores (id, nombre) VALUES (38, 'Zazie Beetz');
INSERT INTO actores (id, nombre) VALUES (39, 'Frances Conroy');
INSERT INTO actores (id, nombre) VALUES (40, 'Brett Cullen');
INSERT INTO actores (id, nombre) VALUES (41, 'Shea Whigham');
INSERT INTO actores (id, nombre) VALUES (42, 'Robert Downey Jr.');
INSERT INTO actores (id, nombre) VALUES (43, 'Chris Evans');
INSERT INTO actores (id, nombre) VALUES (44, 'Mark Ruffalo');
INSERT INTO actores (id, nombre) VALUES (45, 'Chris Hemsworth');
INSERT INTO actores (id, nombre) VALUES (46, 'Scarlett Johansson');
INSERT INTO actores (id, nombre) VALUES (47, 'Jeremy Renner');
INSERT INTO actores (id, nombre) VALUES (48, 'Emilia Clarke');
INSERT INTO actores (id, nombre) VALUES (49, 'Lena Headey');
INSERT INTO actores (id, nombre) VALUES (50, 'Sophie Turner');
INSERT INTO actores (id, nombre) VALUES (51, 'Kit Harington');
INSERT INTO actores (id, nombre) VALUES (52, 'Peter Dinklage');
INSERT INTO actores (id, nombre) VALUES (53, 'Nikolaj Coster-Waldau');
INSERT INTO actores (id, nombre) VALUES (54, 'Grant Gustin');
INSERT INTO actores (id, nombre) VALUES (55, 'Carlos Valdes');
INSERT INTO actores (id, nombre) VALUES (56, 'Danielle Panabaker');
INSERT INTO actores (id, nombre) VALUES (57, 'Candice Patton');
INSERT INTO actores (id, nombre) VALUES (58, 'Jesse L. Martin');
INSERT INTO actores (id, nombre) VALUES (59, 'Tom Cavanagh');
INSERT INTO actores (id, nombre) VALUES (60, 'Jim Parsons');
INSERT INTO actores (id, nombre) VALUES (61, 'Johnny Galecki');
INSERT INTO actores (id, nombre) VALUES (62, 'Kaley Cuoco');
INSERT INTO actores (id, nombre) VALUES (63, 'Simon Helberg');
INSERT INTO actores (id, nombre) VALUES (64, 'Kunal Nayyar');
INSERT INTO actores (id, nombre) VALUES (65, 'Melissa Rauch');
INSERT INTO actores (id, nombre) VALUES (66, 'Mayim Bialik');
INSERT INTO actores (id, nombre) VALUES (67, 'Jennifer Aniston');
INSERT INTO actores (id, nombre) VALUES (68, 'Courteney Cox');
INSERT INTO actores (id, nombre) VALUES (69, 'Lisa Kudrow');
INSERT INTO actores (id, nombre) VALUES (70, 'David Schwimmer');
INSERT INTO actores (id, nombre) VALUES (71, 'Matthew Perry');
INSERT INTO actores (id, nombre) VALUES (72, 'Matt LeBlanc');
INSERT INTO actores (id, nombre) VALUES (73, 'Amybeth McNulty');
INSERT INTO actores (id, nombre) VALUES (74, 'Geraldine James');
INSERT INTO actores (id, nombre) VALUES (75, 'R. H. Thomson');
INSERT INTO actores (id, nombre) VALUES (76, 'Corrine Koslo');
INSERT INTO actores (id, nombre) VALUES (77, 'Dalila Bela');
INSERT INTO actores (id, nombre) VALUES (78, 'Lucas Jade Zumann');
INSERT INTO actores (id, nombre) VALUES (79, 'Gillian Anderson');
INSERT INTO actores (id, nombre) VALUES (80, 'David Duchovny');
INSERT INTO actores (id, nombre) VALUES (81, 'Mitch Pileggi');
INSERT INTO actores (id, nombre) VALUES (82, 'Robert Patrick');
INSERT INTO actores (id, nombre) VALUES (83, 'Tom Braidwood');
INSERT INTO actores (id, nombre) VALUES (84, 'Bruce Harwood');
INSERT INTO actores (id, nombre) VALUES (85, 'Jared Harris');
INSERT INTO actores (id, nombre) VALUES (86, 'Stellan Skarsgård');
INSERT INTO actores (id, nombre) VALUES (87, 'Emily Watson');
INSERT INTO actores (id, nombre) VALUES (88, 'Paul Ritter');
INSERT INTO actores (id, nombre) VALUES (89, 'Jessie Buckley');
INSERT INTO actores (id, nombre) VALUES (90, 'Adam Nagaitis');
INSERT INTO actores (id, nombre) VALUES (91, 'Evan Rachel Wood');
INSERT INTO actores (id, nombre) VALUES (92, 'Thandiwe Newton');
INSERT INTO actores (id, nombre) VALUES (93, 'Jeffrey Wright');
INSERT INTO actores (id, nombre) VALUES (94, 'Tessa Thompson');
INSERT INTO actores (id, nombre) VALUES (95, 'Ed Harris');
INSERT INTO actores (id, nombre) VALUES (96, 'Luke Hemsworth');
INSERT INTO actores (id, nombre) VALUES (97, 'Rodrigo Santoro');
INSERT INTO actores (id, nombre) VALUES (98, 'Simon Quarterman');
INSERT INTO actores (id, nombre) VALUES (99, 'Clifton Collins Jr.');
INSERT INTO actores (id, nombre) VALUES (100, 'Anthony Hopkins');
INSERT INTO actores (id, nombre) VALUES (101, 'Ingrid Bolsø Berdal');
INSERT INTO actores (id, nombre) VALUES (102, 'Angela Sarafyan');
INSERT INTO actores (id, nombre) VALUES (103, 'Shannon Woodward');
INSERT INTO actores (id, nombre) VALUES (104, 'Talulah Riley');
INSERT INTO actores (id, nombre) VALUES (105, 'Louis Herthum');
INSERT INTO actores (id, nombre) VALUES (106, 'Ben Barnes');
INSERT INTO actores (id, nombre) VALUES (107, 'Jimmi Simpson');
INSERT INTO actores (id, nombre) VALUES (108, 'Leonardo Nam');
INSERT INTO actores (id, nombre) VALUES (109, 'Aaron Paul');
INSERT INTO actores (id, nombre) VALUES (110, 'Vincent Cassel');
INSERT INTO actores (id, nombre) VALUES (111, 'Izabella Alvarez');
INSERT INTO actores (id, nombre) VALUES (112, 'Jeff Daniel Phillips');
INSERT INTO actores (id, nombre) VALUES (113, 'Lee Pace');
INSERT INTO actores (id, nombre) VALUES (114, 'Scoot McNairy');
INSERT INTO actores (id, nombre) VALUES (115, 'Mackenzie Davis');
INSERT INTO actores (id, nombre) VALUES (116, 'Kerry Bishé');
INSERT INTO actores (id, nombre) VALUES (117, 'Toby Huss');
INSERT INTO actores (id, nombre) VALUES (118, 'Alana Cavanaugh');
INSERT INTO actores (id, nombre) VALUES (119, 'Jessica Chastain');
INSERT INTO actores (id, nombre) VALUES (120, 'John Malkovich');
INSERT INTO actores (id, nombre) VALUES (121, 'Colin Farrell');
INSERT INTO actores (id, nombre) VALUES (122, 'Common');
INSERT INTO actores (id, nombre) VALUES (123, 'Geena Davis');
INSERT INTO actores (id, nombre) VALUES (124, 'Ioan Gruffudd');
INSERT INTO actores (id, nombre) VALUES (125, 'Margot Robbie');
INSERT INTO actores (id, nombre) VALUES (126, 'Ewan McGregor');
INSERT INTO actores (id, nombre) VALUES (127, 'Mary Elizabeth Winstead');
INSERT INTO actores (id, nombre) VALUES (128, 'Jurnee Smollett');
INSERT INTO actores (id, nombre) VALUES (129, 'Rosie Perez');
INSERT INTO actores (id, nombre) VALUES (130, 'Chris Messina');
INSERT INTO actores (id, nombre) VALUES (131, 'Stacy Martin');
INSERT INTO actores (id, nombre) VALUES (132, 'Rhona Mitra');
INSERT INTO actores (id, nombre) VALUES (133, 'Theo James');
INSERT INTO actores (id, nombre) VALUES (134, 'Peter Ferdinando');
INSERT INTO actores (id, nombre) VALUES (135, 'Lia Williams');
INSERT INTO actores (id, nombre) VALUES (136, 'Toby Jones');
INSERT INTO actores (id, nombre) VALUES (137, 'Miranda Cosgrove');
INSERT INTO actores (id, nombre) VALUES (138, 'Kate Walsh');
INSERT INTO actores (id, nombre) VALUES (139, 'Omar Epps');
INSERT INTO actores (id, nombre) VALUES (140, 'Angus Macfadyen');
INSERT INTO actores (id, nombre) VALUES (141, 'Jorja Fox');
INSERT INTO actores (id, nombre) VALUES (142, 'Enver Gjokaj');
INSERT INTO actores (id, nombre) VALUES (143, 'Bill Skarsgård');
INSERT INTO actores (id, nombre) VALUES (144, 'Bill Hader');
INSERT INTO actores (id, nombre) VALUES (145, 'James McAvoy');
INSERT INTO actores (id, nombre) VALUES (146, 'Isaiah Mustafa');
INSERT INTO actores (id, nombre) VALUES (147, 'Jay Ryan');
INSERT INTO actores (id, nombre) VALUES (148, 'Chadwick Boseman');
INSERT INTO actores (id, nombre) VALUES (149, 'Michael B. Jordan');
INSERT INTO actores (id, nombre) VALUES (150, 'Lupita Nyong''o');
INSERT INTO actores (id, nombre) VALUES (151, 'Danai Gurira');
INSERT INTO actores (id, nombre) VALUES (152, 'Martin Freeman');
INSERT INTO actores (id, nombre) VALUES (153, 'Daniel Kaluuya');
INSERT INTO actores (id, nombre) VALUES (154, 'Christian Bale');
INSERT INTO actores (id, nombre) VALUES (155, 'Matt Damon');
INSERT INTO actores (id, nombre) VALUES (156, 'Caitriona Balfe');
INSERT INTO actores (id, nombre) VALUES (157, 'Josh Lucas');
INSERT INTO actores (id, nombre) VALUES (158, 'Noah Jupe');
INSERT INTO actores (id, nombre) VALUES (159, 'Jon Bernthal');
INSERT INTO actores (id, nombre) VALUES (160, 'Génesis Rodríguez');
INSERT INTO actores (id, nombre) VALUES (161, 'Vincent Piazza');
INSERT INTO actores (id, nombre) VALUES (162, 'Benjamin Sokolow');
INSERT INTO actores (id, nombre) VALUES (163, 'Emily Bayiokos');
INSERT INTO actores (id, nombre) VALUES (164, 'Amy Manson');
INSERT INTO actores (id, nombre) VALUES (165, 'Luke Allen-Gale');
INSERT INTO actores (id, nombre) VALUES (166, 'Nina Bergman');
INSERT INTO actores (id, nombre) VALUES (167, 'Dominic Mafham');
INSERT INTO actores (id, nombre) VALUES (168, 'James Weber Brown');
INSERT INTO actores (id, nombre) VALUES (169, 'Lorina Kamburova');
INSERT INTO actores (id, nombre) VALUES (170, 'Marion Cotillard');
INSERT INTO actores (id, nombre) VALUES (171, 'Laurence Fishburne');
INSERT INTO actores (id, nombre) VALUES (172, 'Jude Law');
INSERT INTO actores (id, nombre) VALUES (173, 'Kate Winslet');
INSERT INTO actores (id, nombre) VALUES (174, 'Jennifer Ehle');
INSERT INTO actores (id, nombre) VALUES (175, 'Gwyneth Paltrow');
INSERT INTO actores (id, nombre) VALUES (176, 'Florence Pugh');
INSERT INTO actores (id, nombre) VALUES (177, 'David Harbour');
INSERT INTO actores (id, nombre) VALUES (178, 'O.T. Fagbenle');
INSERT INTO actores (id, nombre) VALUES (179, 'Rachel Weisz');
INSERT INTO actores (id, nombre) VALUES (180, 'William Hurt');
INSERT INTO actores (id, nombre) VALUES (181, 'Ray Winstone');
INSERT INTO actores (id, nombre) VALUES (182, 'Kristen Wiig');
INSERT INTO actores (id, nombre) VALUES (183, 'Jeff Daniels');
INSERT INTO actores (id, nombre) VALUES (184, 'Michael Peña');
INSERT INTO actores (id, nombre) VALUES (185, 'Sean Bean');
INSERT INTO actores (id, nombre) VALUES (186, 'Kate Mara');
INSERT INTO actores (id, nombre) VALUES (187, 'Alicia Vikander');
INSERT INTO actores (id, nombre) VALUES (188, 'Domhnall Gleeson');
INSERT INTO actores (id, nombre) VALUES (189, 'Oscar Isaac');
INSERT INTO actores (id, nombre) VALUES (190, 'Sonoya Mizuno');
INSERT INTO actores (id, nombre) VALUES (191, 'Corey Johnson');
INSERT INTO actores (id, nombre) VALUES (192, 'Claire Selby');
INSERT INTO actores (id, nombre) VALUES (193, 'Gana Bayarsaikhan');
INSERT INTO actores (id, nombre) VALUES (194, 'Bryce Dallas Howard');
INSERT INTO actores (id, nombre) VALUES (195, 'Chris Pratt');
INSERT INTO actores (id, nombre) VALUES (196, 'Irrfan Khan');
INSERT INTO actores (id, nombre) VALUES (197, 'Vincent D''Onofrio');
INSERT INTO actores (id, nombre) VALUES (198, 'Omar Sy');
INSERT INTO actores (id, nombre) VALUES (199, 'Nick Robinson');
INSERT INTO actores (id, nombre) VALUES (200, 'Judy Greer');
INSERT INTO actores (id, nombre) VALUES (201, 'Will Smith');
INSERT INTO actores (id, nombre) VALUES (202, 'Alice Braga');
INSERT INTO actores (id, nombre) VALUES (203, 'Charlie Tahan');
INSERT INTO actores (id, nombre) VALUES (204, 'Dash Mihok');
INSERT INTO actores (id, nombre) VALUES (205, 'Salli Richardson-Whitfield');
INSERT INTO actores (id, nombre) VALUES (206, 'Willow Smith');
INSERT INTO actores (id, nombre) VALUES (207, 'Emma Thompson');
INSERT INTO actores (id, nombre) VALUES (208, 'Ryan Gosling');
INSERT INTO actores (id, nombre) VALUES (209, 'Claire Foy');
INSERT INTO actores (id, nombre) VALUES (210, 'Jason Clarke');
INSERT INTO actores (id, nombre) VALUES (211, 'Kyle Chandler');
INSERT INTO actores (id, nombre) VALUES (212, 'Corey Stoll');
INSERT INTO actores (id, nombre) VALUES (213, 'Patrick Fugit');
INSERT INTO actores (id, nombre) VALUES (214, 'John Boyega');
INSERT INTO actores (id, nombre) VALUES (215, 'Scott Eastwood');
INSERT INTO actores (id, nombre) VALUES (216, 'Cailee Spaeny');
INSERT INTO actores (id, nombre) VALUES (217, 'Jing Tian');
INSERT INTO actores (id, nombre) VALUES (218, 'Rinko Kikuchi');
INSERT INTO actores (id, nombre) VALUES (219, 'Burn Gorman');
INSERT INTO actores (id, nombre) VALUES (220, 'Ahston Kutcher');
INSERT INTO actores (id, nombre) VALUES (221, 'Dermot Mulroney');
INSERT INTO actores (id, nombre) VALUES (222, 'Josh Gad');
INSERT INTO actores (id, nombre) VALUES (223, 'Lukas Haas');
INSERT INTO actores (id, nombre) VALUES (224, 'Matthew Modine');
INSERT INTO actores (id, nombre) VALUES (225, 'J.K. Simmons');
INSERT INTO actores (id, nombre) VALUES (226, 'Lesley Ann Warren');
INSERT INTO actores (id, nombre) VALUES (227, 'Noah Wyle');
INSERT INTO actores (id, nombre) VALUES (228, 'Anthony Michael');
INSERT INTO actores (id, nombre) VALUES (229, 'Joey Slotnick');
INSERT INTO actores (id, nombre) VALUES (230, 'J.G. Hertzler');
INSERT INTO actores (id, nombre) VALUES (231, 'Wayne Pére');
INSERT INTO actores (id, nombre) VALUES (232, 'Sheila Shaw');
INSERT INTO actores (id, nombre) VALUES (233, 'Gemma Zamprogna');
INSERT INTO actores (id, nombre) VALUES (234, 'John DiMaggio');
INSERT INTO actores (id, nombre) VALUES (235, 'Jesse Eisenberg');
INSERT INTO actores (id, nombre) VALUES (236, 'Andrew Garfield');
INSERT INTO actores (id, nombre) VALUES (237, 'Justin Timberlake');
INSERT INTO actores (id, nombre) VALUES (238, 'Armie Hammer');
INSERT INTO actores (id, nombre) VALUES (239, 'Max Minghella');
INSERT INTO actores (id, nombre) VALUES (240, 'Rooney Mara');
INSERT INTO actores (id, nombre) VALUES (241, 'Brenda Song');
INSERT INTO actores (id, nombre) VALUES (242, 'Rashida Jones');
INSERT INTO actores (id, nombre) VALUES (243, 'John Gertz');
INSERT INTO actores (id, nombre) VALUES (244, 'Ryan Phillippe');
INSERT INTO actores (id, nombre) VALUES (245, 'Rachael Leigh Cook');
INSERT INTO actores (id, nombre) VALUES (246, 'Tim Robbins');
INSERT INTO actores (id, nombre) VALUES (247, 'Claire Forlani');
INSERT INTO actores (id, nombre) VALUES (248, 'Richard Rountree');
INSERT INTO actores (id, nombre) VALUES (249, 'Tygh Runyan');
INSERT INTO actores (id, nombre) VALUES (250, 'Ned Bellamy');
INSERT INTO actores (id, nombre) VALUES (251, 'Tyler Labine');
INSERT INTO actores (id, nombre) VALUES (252, 'Anna Kendrick');
INSERT INTO actores (id, nombre) VALUES (253, 'Daniel Dae Kim');
INSERT INTO actores (id, nombre) VALUES (254, 'Shamier Anderson');
INSERT INTO actores (id, nombre) VALUES (255, 'Toni Collette');
INSERT INTO actores (id, nombre) VALUES (256, 'Ben Affleck');
INSERT INTO actores (id, nombre) VALUES (257, 'Gal Gadot');
INSERT INTO actores (id, nombre) VALUES (258, 'Jason Momoa');
INSERT INTO actores (id, nombre) VALUES (259, 'Ezra Miller');
INSERT INTO actores (id, nombre) VALUES (260, 'Ray Fisher');
INSERT INTO actores (id, nombre) VALUES (261, 'Amy Adams');
INSERT INTO actores (id, nombre) VALUES (262, 'Jeremy Irons');
INSERT INTO actores (id, nombre) VALUES (263, 'Connie Nielsen');
INSERT INTO actores (id, nombre) VALUES (264, 'Charlie Sheen');
INSERT INTO actores (id, nombre) VALUES (265, 'Jon Cryer');
INSERT INTO actores (id, nombre) VALUES (266, 'Angus T. Jones');
INSERT INTO actores (id, nombre) VALUES (267, 'Conchata Ferrel');
INSERT INTO actores (id, nombre) VALUES (268, 'Holland Taylor');
INSERT INTO actores (id, nombre) VALUES (269, 'Marin Hinkle');
INSERT INTO actores (id, nombre) VALUES (270, 'Jennifer Bini Taylor');
INSERT INTO actores (id, nombre) VALUES (271, 'Melanie Lynskey');
INSERT INTO actores (id, nombre) VALUES (272, 'Ashton Kutcher');
INSERT INTO actores (id, nombre) VALUES (273, 'Amber Tamblyn');
INSERT INTO actores (id, nombre) VALUES (274, 'Úrsula Corberó');
INSERT INTO actores (id, nombre) VALUES (275, 'Álvaro Morte');
INSERT INTO actores (id, nombre) VALUES (276, 'Itziar Ituño');
INSERT INTO actores (id, nombre) VALUES (277, 'Pedro Alonso');
INSERT INTO actores (id, nombre) VALUES (278, 'Alba Flores');
INSERT INTO actores (id, nombre) VALUES (279, 'Miguel Herrán');
INSERT INTO actores (id, nombre) VALUES (280, 'Jaime Lorente');
INSERT INTO actores (id, nombre) VALUES (281, 'Esther Acebo');
INSERT INTO actores (id, nombre) VALUES (282, 'Enrique Arce');
INSERT INTO actores (id, nombre) VALUES (283, 'Winona Ryder');
INSERT INTO actores (id, nombre) VALUES (284, 'Finn Wolfhard');
INSERT INTO actores (id, nombre) VALUES (285, 'Gaten Matarazzo');
INSERT INTO actores (id, nombre) VALUES (286, 'Caleb McLaughlin');
INSERT INTO actores (id, nombre) VALUES (287, 'Natalia Dyer');
INSERT INTO actores (id, nombre) VALUES (288, 'Charlie');
INSERT INTO actores (id, nombre) VALUES (289, 'Heaton');
INSERT INTO actores (id, nombre) VALUES (290, 'Joe Keery');
INSERT INTO actores (id, nombre) VALUES (291, 'Sandra Bullock');
INSERT INTO actores (id, nombre) VALUES (292, 'George Clooney');
INSERT INTO actores (id, nombre) VALUES (293, 'Orto Ignatiussen');
INSERT INTO actores (id, nombre) VALUES (294, 'Phaldut Sharma');
INSERT INTO actores (id, nombre) VALUES (295, 'Amy Warren');
INSERT INTO actores (id, nombre) VALUES (296, 'Basher Savage');
INSERT INTO actores (id, nombre) VALUES (297, 'Adam Cozens');
INSERT INTO actores (id, nombre) VALUES (298, 'Jaeden Martell');
INSERT INTO actores (id, nombre) VALUES (299, 'Jeremy Ray');
INSERT INTO actores (id, nombre) VALUES (300, 'Sophia Lillis');
INSERT INTO actores (id, nombre) VALUES (301, 'Chosen Jacobs');
INSERT INTO actores (id, nombre) VALUES (302, 'Jack Dylan');
INSERT INTO actores (id, nombre) VALUES (303, 'Wyatt Oleff');
INSERT INTO actores (id, nombre) VALUES (304, 'Nicholas Hamilton');
INSERT INTO actores (id, nombre) VALUES (305, 'Tom Hanks');
INSERT INTO actores (id, nombre) VALUES (306, 'Bill Paxton');
INSERT INTO actores (id, nombre) VALUES (307, 'Kevin Bacon');
INSERT INTO actores (id, nombre) VALUES (308, 'Gary Sinise');
INSERT INTO actores (id, nombre) VALUES (309, 'Kathleen Quinlan');
INSERT INTO actores (id, nombre) VALUES (310, 'Roger Corman');
INSERT INTO actores (id, nombre) VALUES (311, 'Chris Ellis');
INSERT INTO actores (id, nombre) VALUES (312, 'Xander Berkeley');
INSERT INTO actores (id, nombre) VALUES (313, 'Liev Schreiber');

In [8]:
# Uso del script
json_file = 'trailerflix.json'  # Nombre del archivo JSON
table_name = 'contenido'         # Nombre de la tabla MySQL

# Generamos las consultas INSERT
consultas_contenido, consultas_genero = generar_inserts_json(json_file, table_name)

# Imprimimos las consultas generadas
print("Consultas para la tabla contenido:")
for consulta in consultas_contenido:
    print(consulta)

#print("\nConsultas para la tabla contenido_generos:")
#for consulta in consultas_genero:
#    print(consulta)

Consultas para la tabla contenido:
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (3, './posters/3.jpg', 'The Mandalorian', 'Ambientada tras la caída del Imperio y antes de la aparición de la Primera Orden, la Serie sigue los pasos de un pistolero solitario en las aventuras que protagoniza en los confines de la galaxia, donde no alcanza la autoridad de la Nueva República.', 2, 'https://www.youtube.com/embed/aOC8E8z_ifw', 1);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (4, './posters/4.jpg', 'The Umbrella Academy', 'La muerte de su padre reúne a unos hermanos distanciados y con extraordinarios poderes que descubren impactantes secretos y una amenaza que se cierne sobre la humanidad.', 1, 'https://www.youtube.com/embed/KHucKOK-Vik', 1);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (5, './posters/5.jpg', 'Gambito de Dama', 'En los cincuenta, una joven de un orfanato descubre que tiene un increíble don para el ajedrez y recorre el arduo camino a la fama mientras lucha contra las adicciones.', 1, 'https://www.youtube.com/embed/lbleRbyGKL4', 1);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (2, './posters/2.jpg', 'Riverdale', 'El paso a la edad adulta incluye sexo, romance, escuela y familia. Para Archie y sus amigos, también hay misterios oscuros.', 5, 'https://www.youtube.com/embed/HxtLlByaYTc', 1);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (1, './posters/1.jpg', 'The Crown', 'Este drama narra las rivalidades políticas y el romance de la reina Isabel II, así como los sucesos que moldearon la segunda mitad del siglo XX.', 4, 'https://www.youtube.com/embed/JWtnJjn6ng0', 1);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (6, './posters/6.jpg', 'Enola Holmes', 'La hermana menor de Sherlock, descubre que su madre ha desaparecido y se dispone a encontrarla. En su búsqueda, saca a relucir el sabueso que corre por sus venas y se encuentra con una conspiración que gira en torno a un misterioso lord, demostrando que su ilustre hermano no es el único talento en la familia.', 'N/A', 'https://www.youtube.com/embed/3t1g2pa355k', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (7, './posters/7.jpg', 'Guasón', 'Arthur Fleck (Phoenix) es un hombre ignorado por la sociedad, cuya motivación en la vida es hacer reír. Pero una Serie de trágicos acontecimientos le llevarán a ver el mundo de otra forma. Película basada en el popular personaje de DC Comics Joker, conocido como archivillano de Batman, pero que en este film tomará un cariz más realista y oscuro.', 'N/A', 'https://www.youtube.com/embed/zAGVQLHvwOY', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (8, './posters/8.jpg', 'Avengers: End Game', 'Después de los devastadores eventos de los Vengadores: Infinity War (2018), el universo está en ruinas. Con la ayuda de los aliados restantes, los Vengadores se reúnen una vez más para revertir las acciones de Thanos y restaurar el equilibrio del universo.', 'N/A', 'https://www.youtube.com/embed/TcMBFSGVi1c', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (9, './posters/9.jpg', 'Juego de tronos', 'En un mundo fantástico y en un contexto medieval varias familias, relativas a la nobleza, se disputan el poder para dominar el territorio ficticio de Poniente (Westeros) y tomar el control de los Siete Reinos desde el Trono de Hierro, lugar donde el rey ejerce el poder.', '8', 'https://www.youtube.com/embed/KPLWWIOCOOQ', 1);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (10, './posters/10.jpg', 'The Flash', 'Sigue las veloces aventuras de Barry Allen, un joven común y corriente con el deseo latente de ayudar a los demás. Cuando una inesperada partícula aceleradora golpea por accidente a Barry, de pronto se encuentra cargado de un increíble poder para moverse a increíbles velocidades. Mientras Barry siempre ha tenido el alma de un héroe, sus nuevos poderes le han dado la capacidad de actuar como tal.', '6', 'https://www.youtube.com/embed/Yj0l7iGKh8g', 1);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (11, './posters/11.jpg', 'The Big Bang Theory', 'Leonard y Sheldon son dos físicos que comparten trabajo y apartamento. La Serie comienza con la mudanza de Penny, su nueva y atractiva vecina, y hace hincapié en la dificultad de los físicos para relacionarse con personas fuera de su entorno para dar lugar a situaciones cómicas.', '12', 'https://www.youtube.com/embed/WBb3fojgW0Q', 1);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (12, './posters/12.jpg', 'Friends', '''Friends'' narra las aventuras y desventuras de seis jóvenes de Nueva York: Rachel, Monica, Phoebe, Ross, Chandler y Joey. Ellos forman una unida pandilla de amigos que viven en Manhattan y que suelen reunirse en sus apartamentos o en su bar habitual cafetería, el Central Perk. A pesar de los numerosos cambios que se producen en sus vidas, su amistad es inquebrantable en la dura batalla por salir adelante en sus periplos profesionales y personales.', '10', 'https://www.youtube.com/embed/ekYGfU0XIx0', 1);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (13, './posters/13.jpg', 'Anne with an ''E''', 'Anne Shirley es una niña huérfana que vive en un pequeño pueblo llamado Avonlea que pertenece a la Isla del Príncipe Eduardo, en el año 1890. Después de una infancia difícil, donde fue pasando de orfanato a hogares de acogida, es enviada por error a vivir con una solterona y su hermano. Cuando cumple 13 años, Anne va a conseguir transformar su vida y el pequeño pueblo donde vive gracias a su fuerte personalidad, intelecto e imaginación. Basada en la inolvidable novela.', '2', 'https://www.youtube.com/embed/M4T-_aB8smU', 1);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (14, './posters/14.jpg', 'Expedientes Secretos ''X''', 'Fox Mulder y Dana Scully son dos investigadores del FBI que investigan casos sin resolución ni explicación, ya sea por razones paranormales (espíritus, criaturas extrañas, aliens...) ya porque el gobierno se ha encargado de ocultar todo tipo de pruebas. Cuando Mulder tenía doce años, su hermana pequeña fue secuestrada por unos desconocidos, aunque él cree que, en realidad, fue abducida por extraterrestres. Tras acabar sus estudios en la universidad de Oxford, ingresó en la Academia de Quantico, donde se ganó el apodo de ''siniestro''', '11', 'https://www.youtube.com/embed/KKziOmsJxzE', 1);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (15, './posters/15.jpg', 'Chernobyl', 'Sigue «la verdadera historia de una de las peores catástrofes provocadas por el hombre y habla de los valientes hombres y mujeres que se sacrificaron para salvar a Europa de un desastre inimaginable. La miniSerie se centra en el desgarrador alcance del desastre de la planta nuclear que ocurrió en Ucrania en abril de 1986, revelando cómo y por qué ocurrió, además contando las sorprendentes y notables historias de los héroes que lucharon y cayeron.', '1', 'https://www.youtube.com/embed/s9APLXM9Ei8', 1);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (16, './posters/16.jpg', 'Westworld', '''Westworld'' es una oscura odisea acerca del amanecer de la conciencia artificial y la evolución del pecado. Situada en la intersección del futuro cercano y el pasado reimaginado, explora un mundo donde cada apetito humano, sin importar cuán noble o depravado, puede ser saciado. Está ambientada en un parque temático futurista dirigido por el Dr. Robert Ford (Anthony Hopkins). Las instalaciones cuentan con androides caracterizados del western americano, y gracias a ellos los visitantes pueden introducirse en cualquier tipo de fantasía por muy oscura que sea.', '3', 'https://www.youtube.com/embed/qLFBcdd6Qw0', 1);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (17, './posters/17.jpg', 'Halt and Catch Fire', 'Situada en los inicios de la década de 1980, un visionario ficticio, un ingeniero electrónico y una prodigiosa ingeniera, se alían a una programadora de software para confrontar con las corporaciones informáticas dominantes de la época. El Personal de la firma y sus socios de negocio, comenzarán una carrera que cambiará la cultura en el Estado de Texas, cuna de las empresas de tecnología, casi de la misma forma que lo es hoy Silicon Valey.
 Esta historia ficticia emula el trabajo realizado, en su momento, por la firma Compaq, cuando clonó el BIOS de las Computadoras Personales IBM, dando vida así al económico mercado de los clones. Mostrando también, a lo largo de sus 4 temporadas, el nacimiento de la arquitectura abierta de hardware, los videojuegos online, las salas de chat y de trueque de productos físicos, los BBS, y las primeras nubes computacionales, hasta la llegada de Internet (sin dejar afuera la guerra de los web browsers).', '4', 'https://www.youtube.com/embed/pWrioRji60A', 1);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (18, './posters/18.jpg', 'Ava', 'Ava es una mortífera asesina a sueldo que trabaja para una organización de operaciones encubiertas, que viaja por todo el mundo acabando con aquellos objetivos que nadie más puede derribar. Cuando uno de sus encargos sale mal, Ava tendrá que luchar por una vida.', 'N/A', 'https://www.youtube.com/embed/eLEwNo78f0k', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (19, './posters/19.jpg', 'Aves de presa (Harley Quinn)', 'Después de separarse de Joker, Harley Quinn y otras tres heroínas (Canario Negro, Cazadora y Renée Montoya) unen sus fuerzas para salvar a una niña (Cassandra Cain) del malvado rey del crimen Máscara Negra.', 'N/A', 'https://www.youtube.com/embed/saUmnenKbBM', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (20, './posters/20.jpg', 'Archivo', '2038: George Almore está trabajando en una verdadera IA equivalente a la humana. Su último prototipo está casi listo. Esta fase sensible también es la más arriesgada. Especialmente porque tiene un objetivo que debe ocultarse a toda costa: reunirse con su esposa muerta.', 'N/A', 'https://www.youtube.com/embed/VHSoCnDioAo', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (22, './posters/22.jpg', '3022', 'La película está ambientada en una estación espacial en el futuro. La tripulación sufre un estrés traumático y considera abandonar su misión después de observar lo que creen que es la destrucción de la Tierra. La película se muestra como una Serie de flashbacks y flash-forward.', 'N/A', 'https://www.youtube.com/embed/AGQ7OkmIx4Q', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (23, './posters/23.jpg', 'IT - Capítulo 2', 'En este segundo capitulo Han pasado 27 años desde que el ''Club de los Perdedores'', formado por Bill, Berverly, Richie, Ben, Eddie, Mike y Stanley, se enfrentaran al macabro y despiadado Pennywise (Bill Skarsgård). En cuanto tuvieron oportunidad, abandonaron el pueblo de Derry, en el estado de Maine, que tantos problemas les había ocasionado. Sin embargo, ahora, siendo adultos, parece que no pueden escapar de su pasado. Todos deberán enfrentarse de nuevo al temible payaso para descubrir si de verdad están preparados para superar sus traumas de la infancia.', 'N/A', 'https://www.youtube.com/embed/hZeFeYSmBcg', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (24, './posters/24.jpg', 'Pantera Negra', 'T’Challa (Chadwick Boseman) regresa a su hogar en la apartada nación africana de Wakanda para servir como líder de su país. Tras suceder a su padre en el trono, pasa a convertirse en Pantera Negra, una sigilosa criatura de la noche, con agudos sentidos felinos y otras habilidades como súper fuerza e inteligencia, agilidad, estrategia o maestro del combate sin armas. Es bajo el liderazgo de T’Challa como Wakanda consigue convertirse en una de las naciones más ricas y tecnológicamente avanzadas del planeta.', 'N/A', 'https://www.youtube.com/embed/BE6inv8Xh4A', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (25, './posters/25.jpg', 'Contra lo imposible (Ford versus Ferrari)', 'Los ganadores del Premio de la Academia® Matt Damon y Christian Bale protagonizan CONTRA LO IMPOSIBLE, basada en la historia real del visionario diseñador americano de automóviles Carroll Shelby (Damon) y el intrépido piloto británico Ken Miles (Bale). Juntos construyen un nuevo coche de carreras para Ford Motor Company y así enfrentar a Enzo Ferrari en las 24 Horas de Le Mans en Francia en 1966.', 'N/A', 'https://www.youtube.com/embed/SOVb0-2g1Q0', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (26, './posters/26.jpg', 'Centígrados', 'Una joven pareja estadounidense viaja a las montañas árticas de Noruega. Después de detenerse durante una tormenta de nieve, se despiertan atrapados en su SUV, enterrados bajo capas de nieve y hielo.', 'N/A', 'https://www.youtube.com/embed/0RvV7TNUlkQ', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (27, './posters/27.jpg', 'DOOM: Aniquilación', 'Doom: Aniquilación sigue a un grupo de marines espaciales que han respondido a una llamada de alerta de una base en la luna marciana, solo para descubrir que ha sido tomada por criaturas demoníacas que amenazan con desatar el infierno en la tierra.', 'N/A', 'https://www.youtube.com/embed/nat3u3gAVLE', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (28, './posters/28.jpg', 'Contagio', 'De repente, sin saber cuál es su origen, aunque todo hace sospechar que comienza con el viaje de una norteamericana a un casino de Hong Kong, un virus mortal comienza a propagarse por todo el mundo. En pocos días, la enfermedad empieza a diezmar a la población. El contagio se produce por mero contacto entre los seres humanos. Un thriller realista y sin efectos especiales sobre los efectos de una epidemia.', 'N/A', 'https://www.youtube.com/embed/4sYSyuuLk5g', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (29, './posters/29.jpg', 'Viuda Negra', 'Primera pelicula individual de la Viuda Negra en el universo cinematografico de Marvel, contando su historia desde que se inició como doble agente rusa, su niñez, sus misiones, y su actualidad, después de Avengers.', 'N/A', 'https://www.youtube.com/embed/BIn8iANwEog', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (30, './posters/30.jpg', 'The Martian', 'Durante una misión a Marte de la nave tripulada Ares III, una fuerte tormenta se desata dando por desaparecido y muerto al astronauta Mark Watney (Matt Damon), sus compañeros toman la decisión de irse pero él ha sobrevivido. Está solo y sin apenas recursos en el planeta. Con muy pocos medios deberá recurrir a sus conocimientos, su sentido del humor y un gran instinto de supervivencia para lograr sobrevivir y comunicar a la Tierra que todavía está vivo esperando que acudan en su rescate.', 'N/A', 'https://www.youtube.com/embed/XvB58bCVfng', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (31, './posters/31.jpg', 'Ex-Machina', 'Un programador multimillonario selecciona a Caleb, un joven empleado de su empresa, para que pase una semana en un lugar remoto con el objetivo de que participe en un test en el que estará involucrada su última creación: un robot-mujer en el que inteligencia artificial lo es todo.', 'N/A', 'https://www.youtube.com/embed/XRYL5spvEcI', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (32, './posters/32.jpg', 'Jurassic World', 'Veintidós años después de lo ocurrido en Jurassic Park, la isla Nublar ha sido transformada en un enorme parque temático, Jurassic Wold, con versiones «domesticadas» de algunos de los dinosaurios más conocidos. Cuando todo parece ir sobre ruedas y ser el negocio del siglo, un nuevo dinosaurio de especie desconocida, pues ha sido creado manipulando genéticamente su ADN, y que resulta ser mucho más inteligente de lo que se pensaba, se escapa de su recinto y comienza a causar estragos entre los visitantes del Parque.', 'N/A', 'https://www.youtube.com/embed/RFinNxS5KN4', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (33, './posters/33.jpg', 'Soy leyenda', 'Años después de que una plaga mate a la mayoría de la humanidad y transforme al resto en monstruos, el único superviviente en la ciudad de Nueva York lucha valientemente para encontrar una cura.', 'N/A', 'https://www.youtube.com/embed/dtKMEAXyPkg', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (34, './posters/34.jpg', 'El primer hombre en la luna', 'Cuenta la historia de la misión de la NASA que llevó al primer hombre a la luna, centrada en Neil Armstrong (interpretado por Ryan Gosling) y el periodo comprendido entre los años 1961 y 1969. Un relato en primera persona, basado en la novela de James R. Hansen, que explora el sacrificio y el precio que representó, tanto para Armstrong como para Estados Unidos, una de las misiones más peligrosas de la historia.', 'N/A', 'https://www.youtube.com/embed/PSoRx87OO6k', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (35, './posters/35.jpg', 'Titanes del pacífico - La insurrección', 'Han pasado 10 años tras la primera invasión que sufrió la humanidad, pero la lucha aún no ha terminado. El planeta vuelve a ser asediado por los Kaiju, una raza de alienígenas colosales, que emergen desde un portal interdimensional con el objetivo de destruir a la raza humana. Ante esta nueva amenaza, los Jaegers, robots gigantes de guerra pilotados por dos personas para sobrellevar la inmensa carga neuronal que conlleva manipularlos, ya no están a la altura de lo que se les viene encima. Será entonces cuando los supervivientes de la primera invasión, además de nuevos personajes como el hijo de Pentecost, tendrán que idear la manera de sorprender al enorme enemigo, apostando por nuevas estrategias defensivas y de ataque. Con la Tierra en ruinas e intentando reconstruirse, esta nueva batalla puede ser decisiva para el futuro.', 'N/A', 'https://www.youtube.com/embed/_EhiLLOhVis', 2);
INSERT INTO contenido (id, poster, titulo, resumen, temporadas, trailer, categoria_id) VALUES (36, './posters/36.jpg', 'JOBS: La Vida De Steve Jobs', 'Sólo hace falta una persona para empezar una revolución. Jobs es la extraordinaria historia de Steve Jobs, el original innovador y emprendedor que no dejó que nada se interpusiera en su camino hacia la grandeza. La película cuenta la épica y turbulenta historia de Jobs mientras abría un camino que cambió la tecnología - y el mundo - para siempre. Su vida es repasada desde que era adolescente, intentando estudiar en la universidad, hasta el año 2001, cuando el iPod fue presentado al mundo y comenzó a ''allanar'' el camino para lo que años después, sería el iPhone.', 'N/A', 'https://www.youtube.com/embed/FrvkCS0ZGPU', 2);

In [13]:
import re
import json

# Rutas de archivo
json_file_path = 'trailerflix.json'
sql_file_path = 'Inserts.txt'
output_sql_path = 'Inserts_modified.txt'

# Cargar datos de duración desde JSON
with open(json_file_path, 'r', encoding='utf-8') as json_file:
    json_data = json.load(json_file)
    durations_by_id = {entry['id']: entry.get('duracion', 0) for entry in json_data}

# Modificar el archivo SQL
with open(sql_file_path, 'r', encoding='utf-8') as sql_file, open(output_sql_path, 'w', encoding='utf-8') as output_file:
    for line in sql_file:
        # Procesa sólo las líneas que contienen 'INSERT INTO contenido'
        if "INSERT INTO contenido" in line:
            # Encuentra el ID usando regex
            match = re.search(r'VALUES\s*\(\s*(\d+)', line)
            if match:
                id_value = int(match.group(1))  # Extrae el ID numérico
                # Obtiene el valor de duración o 0 si no existe
                duration = durations_by_id.get(id_value, 0)
                # Agrega el valor de duración antes del paréntesis de cierre
                modified_line = line.strip()[:-1] + f", {duration});\n"
                output_file.write(modified_line)
            else:
                output_file.write(line)  # Si no se encuentra el ID, escribe la línea sin cambios
        else:
            output_file.write(line)  # Escribe otras líneas sin cambios

print("Archivo SQL modificado creado con éxito:", output_sql_path)

Archivo SQL modificado creado con éxito: Inserts_modified.txt